.services-wrapper {
  width: 100%;
  padding-top: 20px;
  background: #f8fafc;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

/* TITLE */
.services-title {
  font-size: 38px;
  font-weight: 800;
  color: #0f172a;
  margin-bottom: 12px;
}

.services-title span {
  color: #087EFF;
}

/* SUBTITLE */
.services-subtitle {
  font-size: 18px;
  color: #5d5d5d;
  max-width: 750px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

/* GRID */
.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  padding: 0 20px;
}

/* RESPONSIVE */

/* Tablet */
@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-title {
    font-size: 34px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .services-wrapper {
    padding: 100px 25px 60px;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .services-title {
    font-size: 30px;
  }

  .services-subtitle {
    font-size: 16px;
  }
}
