:root {
  /* Main Theme */
  --theme-bg: #050b14;
  --theme-card-bg: #0a101f;

  /* Primary Neon */
  --theme-primary: #00faff;
  --theme-primary-glow: rgba(0, 250, 255, 0.4);

  /* Border */
  --theme-border: #00bfff;

  /* Text Colors */
  --theme-text: #ffffff;
  --theme-text-light: #bcd3e8;

  /* Section */
  --theme-section-padding: 80px;

  /* Font */
  --theme-font: "Poppins", sans-serif;
}
