/* ===== BASE NAVBAR ===== */
.navbar {
  width: 100%;
  background: white;
  padding: 12px 40px;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* ===== LOGO ===== */
.logo-container {
  display: flex;
  align-items: center;
  padding-right: 20%;
}

.logo-img {
  width: 140px;
  height: auto;
  object-fit: contain;
}

/* ===== NAV LINKS (Desktop) ===== */
.desktopNav {
  display: flex;
  text-align: center;
  list-style: none;
  gap:25px

}

.navLink {
  text-decoration: none;
  color: #0f0101;
  font-weight: 500;
  padding-bottom: 4px;
  position: relative;
  transition: color 0.3s ease;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navList {
  display: flex;
  gap: 30px;
  list-style: none;
  margin-left: 40px;
}

/* Hover underline */
.navLink:hover {
  color: #38bdf8;
}

.active {
  color: #38bdf8;
  font-weight: 600;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  border-radius: 2px;
}

/* ===== HAMBURGER ===== */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #150101;
}

/* ===== MOBILE MENU ===== */
.mobileMenu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  background: #0f172a;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
  z-index: 2000;
}

.mobileMenu.open {
  left: 0;
}

.closeBtn {
  align-self: flex-end;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.mobileNavList {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobileNavList .navLink {
  color: white;
  font-size: 1.1rem;
}

.mobileNavList .navLink:hover {
  color: #38bdf8;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 992px) {
  .desktopNav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .logo-img {
    width: 120px;
  }

  .nav-center {
    display: none;
  }
}

@media (max-width: 480px) {
  .logo-img {
    width: 95px;
  }
}