.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main {
  background: var(--bg-main);
}

a {
  color: inherit;
}

hr {
  display: none !important;
  opacity: 0 !important;
  height: 0 !important;
  border: none !important;
}


